<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/message-user.css">
    <title>Chat</title>
</head>

<body>
    <div class="message-container">
        <div class="message-user-header">
            <p>Some User</p>
        </div>
        <div class="messages" id="messages">
            <% for (var i = 0; i < messages.length; i++) { %>
                <div class="message-item message-item-<%= (messages[i].fromUserId === user) ? 'reciever' : 'sender' %>">
                    <div class="message-item-content">
                        <p><%= messages[i].message %></p>
                        <small>
                            Sent at <i><%= messages[i].createdOn %></i>
                        </small>
                    </div>
                </div> 
            <% } %>
        </div>
        <form  action="/sendMessage/Denis24-jtran" method="post">
            <input name="input" id="input" autocomplete="off" />
            <button id="sendButton" type="submit">Send</button>
        </form>
    </div>
    <!-- <script src="/socket.io/socket.io.js"></script> -->

    <script>
        // var socket = io();

        // var messages = document.getElementById('messages');
        // console.log(messages.children);
        // var form = document.getElementById('form');
        // var input = document.getElementById('input');

        // form.addEventListener('submit', function (e) {
        //     e.preventDefault();
        //     if (input.value) {
        //         // Create the elements for the message
        //         var messageItem = document.createElement('div');
        //         var messageItemContent = document.createElement('div');
        //         var p = document.createElement('p');
        //         var s = document.createElement('small');
        //         var i = document.createElement('i');

        //         // Set text content's for elements
        //         p.textContent = input.value;
        //         s.textContent = 'Sent at ';
        //         i.textContent = '10:23PM';

        //         messageItem.className = "message-item message-item-sender";
        //         messageItemContent.className = "message-item-content";

        //         // Bind those elemnts together
        //         s.appendChild(i);
        //         messageItemContent.appendChild(p);
        //         messageItemContent.appendChild(s);
        //         messageItem.appendChild(messageItemContent);

        //         // Add the messageItem element to the messages element
        //         messages.appendChild(messageItem);

        //         // Sends message to server
        //         // socket.emit('chat message', input.value);

        //         // Clear the input field
        //         input.value = '';
        //         console.log('after appending', messages.children)
        //     }
        // });

        // Recieve from the server
        // socket.on('chat message', function (msg) {
        //     var item = document.createElement('li');
        //     item.textContent = msg;
        //     messages.appendChild(item);
        //     window.scrollTo(0, document.body.scrollHeight);
        // });
    </script>
</body>

</html>