<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Document</title>
</head>

<body>
   
    <header id="header">
        <a href="#" class="logo">Social Media</a>
        <div class="navigation">
            <ul class="menu">
                <li class="menu-item"><a href="#">Search Bar</a></li>
                <li class="menu-item"><a href="/profile">Profile</a></li>
                <li class="menu-item"><a href="/dashboard">Home</a></li>
                <li class="menu-item"><a href="#">Message</a></li>
                <li class="menu-item">
                    <a class="sub-btn" href="#">More<i class="fas fa-angle-down"></i> </a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">Account</a></li>
                        <li class="sub-item"><a href="#">Settings</a></li>
                        <li class="sub-item"><a href="#">Help</a></li>
                        <li class="sub-item"><a href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

</html><div class="parent">
    <!-- Header class where we display profile and top picture -->
    <header id="header2" class="header">
        <img id="profile_pic" src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" alt="">
        <img id="top_pic" src="https://i.pinimg.com/originals/d5/32/85/d5328537c1da64a96c15d094bfc31f7a.jpg" alt="">
    </header>
    <!-- Main class where we show all the posts we have published -->
    <main class="main_content" contenteditable="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis repudiandae libero suscipit sunt voluptas aut commodi vel. Reprehenderit, facilis, perspiciatis tenetur minima exercitationem, hic ipsa recusandae adipisci enim corrupti quaerat!
    Tempore aut voluptatum unde itaque? Eligendi impedit commodi explicabo aspernatur eos? Quae ab animi harum eos beatae repellendus nostrum iure fugiat veritatis a hic sed alias, quasi aliquam accusantium modi.
    Ex ad deserunt sapiente tempore maxime quis tenetur, optio dignissimos iste voluptatum modi fugit iure quam reprehenderit commodi, itaque dolorem. Deleniti dolorum modi aliquam ut veniam repellat voluptatibus quasi sunt!
   r exercitationem debitis explicabo odit labore illum delectus quos, odio sapiente, blanditiis quaerat? Deserunt, voluptatum perferendis.
    Illo soluta sit inventore itaque esse reprehenderit repellendus ducimus ullam quis expedita repudiandae, rem, deleniti eaque, doloremque est iure quo placeat sequi nobis quas doloribus eos fugit nemo? Dolores, laudantium.
    Minus reprehenderit doloremque eius tempora consequatur aliquam ipsum aperiam quibusdam velit aliquid dolores labore minima, totam earum temporibus autem natus nisi sunt soluta. Nemo eveniet optio magni! Beatae, dolorem eius.
uidem voluptate. Excepturi eius, vel deserunt sapiente totam, vitae et, placeat ea in tempore itaque alias est.
    Eos sequi doloremque inventore, quis dignissimos enim temporibus adipisci praesentium totam ea! Ipsam ducimus placeat quasi quam eaque necessitatibus libero fugiat animi doloremque omnis illo, quisquam consequuntur quos porro maiores.
    Rem dolores obcaecati tenetur voluptatem, libero assumenda minima eaque saepe iusto repudiandae, id nulla ipsa commodi dignissimos explicabo nihil harum perferendis. Dolore architecto, quo distinctio aut nesciunt at rem suscipit.
    Natus delectus aliquid mollitia odio voluptatem quasi saepe quam, eius perferendis dolorem perspiciatis ipsum voluptatibus assumenda, aperiam pariatur beatae id autem commodi aut numquam dignissimos? Quod corporis corrupti magnam laboriosam.
    Tempora harum sapiente cum, amet, et unde earum magnam nulla excepturi reiciendis numquam! Maxime ex eveniet aspernatur cum culpa sit deleniti ut neque quos minima! Culpa perferendis saepe laborum natus?</main>
    <!-- Description class where there will be a small bio of the profile -->
    <div class="description">
    <h1>Khizar Malik!</h1>
    <p contenteditable>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex minima perferendis natus labore, ipsam ullam at aliquam dolores. Excepturi ad dignissimos minima consectetur fuga, cum rerum ab suscipit dolores.
    Repellendus architecto quidem eum expedita reprehenderit eos magni eveniet earum minus! Maxime deleniti quia placeat, dolor hic nisi mollitia libero voluptates, aspernatur iusto dolore eaque suscipit doloribus id, quibusdam ea?
    Ea fuga magnam debitis repudiandae, aspernatur dolorum porro delectus quisquam recusandae exercitationem illo serunt id sed nulla optio totam reiciendis nesciunt laborum corrupti odit consequuntur sapiente provident.
    Fugiat est obcaecsimus aut inventore, enim minus id laboriosam saepe maxime excepturi earum ratione assumenda temporibus us quia consequatur adipisci nulla voluptatibus. Minus libero quas quo!</p>
    </div>
</div>
</body>
</html>