/*  NAVIGATION STYLING  */
@import './constants.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-blue);
    box-shadow: 0 5px 25px rgb(0 0 0/20%);
    padding: 0 100px;
    transition: 0.6s;
}
header .logo{
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header .navigation{
    position: relative;
    line-height: 75px;
}
header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
}

.menu-item > a:hover{
    color: rgb(219, 40, 40);
    transition: 0.3s;
}

.menu-item .sub-menu{
    position: absolute;
    background: var(--main-blue);
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0/20%);
    pointer-events: none;
    transform: translate(0);
    opacity: 0;
    transition: 0.3s;
}

.menu-item:hover .sub-menu{
    right: 1px;
    pointer-events: all;
    transform: translate(0);
    opacity: 1;
}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 7px;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255) ;
    font-style: 1em;
    text-decoration: none;
    padding: 15px 15px;
    margin-left: 1em;
    margin-right: 1em;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.search-input {
    padding: 6px;
} 

.search-container > button {
    padding: 6px;
}